<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>A.Aubineau</title>
    <link href="{{  asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{  asset('assets/css/bootstrap-grid.min.css') }}" rel="stylesheet">
    <link href="{{  asset('assets/css/bootstrap-reboot.min.css') }}" rel="stylesheet">
    <link href="{{  asset('assets/css/style.css') }}" rel="stylesheet">
</head>

{% block header %}
{% endblock %}

{% block body %}
{% endblock %}

{% block register %}
{% endblock %}

{% block javascripts %}{% endblock %}
<script src="{{  asset('assets/js/jquery.js') }}"></script>
<script src="https://unpkg.com/popper.js@1.12.9/dist/umd/popper.js"></script>
<script src="{{  asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{  asset('assets/js/script.js') }}"></script>
</html>
